.logo {
  padding: 80px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.company-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.svg-logo {
  fill: white;
}

h1,
h2 {
  font-family: 'Philosopher', sans-serif;
  font-size: 50px;
}

p,
h4 {
  font-family: 'Mulish', sans-serif;
  font-size: 23px;
}

img {
  border-radius: 20px;
  width: 100%;
}

button {
  border: none;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
}

.button-white {
  background-color: white;
  color: black;
}

.button-black {
  background-color: black;
  color: white;
}

.black-bg {
  background-color: black;
  color: white;
}

// ******** Landing Page *********
// ******** Landing Page *********
// ******** Landing Page *********
// ******** Landing Page *********

.landing-page {
  background: url('./assets/livingroom.jpeg') no-repeat center center fixed;
  max-width: 100%;
  // height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-size: 55px;
    width: 15ch;
  }

  .copy-wrapper {
    padding: 0 80px 80px 80px;
    margin-block: 75px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }

  @media screen and (max-width: 650px) {
    h1 {
      font-size: 34px;
      width: unset;
    }
  }
}

.about-us {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6%;

  .desc {
    padding-inline: 50px;
    align-items: center;
    flex-grow: 1;
    flex-basis: 60%;

    p {
      font-size: 20px;
    }

    .intro {
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
      font-size: 40px;
    }
  }

  .photo {
    flex-grow: 1;
    flex-basis: 40%;
  }

  @media screen and (max-width: 820px) {
    .desc {
      .intro {
        font-size: 25px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 650px) {
    display: block;

    .desc {
      padding: unset;
      margin-bottom: 75px;

      p {
        font-size: 23px;
      }
    }
  }
}

// ****** Amenities ******
// ****** Amenities ******
// ****** Amenities ******
// ****** Amenities ******

.amenities {
  background-color: #f5f4f3;

  .amenities-content {
    padding: 10%;
  }

  .amenities-desc {
    display: flex;
    justify-content: space-around;
    flex-basis: 0;

    h1 {
      font-size: 40px;
    }

    p {
      font-size: 23px;
      width: 55%;
    }
  }

  .amenities-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    padding-block: 6%;
    gap: 10px;

    .amenities-list {
      font-weight: bold;
      text-align: center;
      flex: 1 1 calc(33.33% - 20px);
      margin-block: 10px;
    }

    .photo {
      width: 200px;
      height: 300px;
      object-fit: cover;
    }

    p {
      font-size: 20px;
      margin: 5px;
    }
  }

  @media screen and (max-width: 820px) {
    .amenities-desc {
      display: block;

      p {
        width: unset;
      }
    }
  }
}

// ****** Tours ******
// ****** Tours ******
// ****** Tours ******
// ****** Tours ******

.tours {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// ***** Partner With Us ******
// ***** Partner With Us ******
// ***** Partner With Us ******

.partner {
  background-color: #f5f4f3;
  color: black;
  padding: 10%;

  h1 {
    margin-block-start: unset;
  }

  .partner-content {
    margin-bottom: 105px;

    p,
    h4 {
      font-size: 23px;
    }

    .partner-blurb {
      margin-block: 45px;
    }

    .partner-button {
      text-align: right;
    }
  }

  img {
    width: 75%;
  }

  .faq-photo-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    img {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: -2;
      width: 150%;
    }

    .faq-wrapper {
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: -1;
      padding: 53px;
      background-color: rgba(225, 222, 220, 0.9);
      border-radius: 20px;
      width: 100%;
      height: 100%;

      .faqs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 100px;

        h4,
        p {
          font-size: 20px;
        }
      }
    }

    @media screen and (max-width: 820px) {
      display: block;

      img {
        width: 100%;
      }

      .faq-wrapper {
        margin-top: 105px;
        width: unset;

        .faqs {
          display: block;
        }
      }
    }
  }
}

// ****** Contact Us ******
// ****** Contact Us ******
// ****** Contact Us ******
// ****** Contact Us ******
// ****** Contact Us ******

.contact-us {
  background: url('./assets/kitchen.jpeg') no-repeat center center fixed;
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .contact-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      text-decoration: underline;
    }

    .svg {
      fill: white;
    }
  }

  @media screen and (max-width: 820px) {
    .logo {
      display: block;
      padding-bottom: unset;
    }

    text-align: center;

    .contact-info {
      display: block;
    }
  }
}