.landing-page {
  background: url('./assets/livingroom.jpeg') no-repeat center center fixed;
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  padding: 50px;

  h1 {
    font-size: 70px;
    width: 15ch;
  }

  button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.about-us {
  padding: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .desc {
    padding-inline: 50px;
    align-items: center;
  }

  img {
    width: 50%;
  }
}

.amenities {
  background-color: #f5f4f3;

  .amenities-content {
    padding: 10%;
  }

  .amenities-desc {
    display: flex;
    justify-content: space-around;
    flex-basis: 0;

    p {
      width: 55%;
    }
  }

  .amenities-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    padding-block: 6%;

    .amenities-list {
      font-weight: bold;
      text-align: center;
      flex: 1 1 calc(33.33% - 20px);
      gap: 10px;
      margin-block: 10px;
    }

    .photo {
      width: 350px;
      height: 350px;
      object-fit: cover;
    }
  }
}

.contact-us {
  padding: 80px;
  background: url('./assets/kitchen.jpeg') no-repeat center center fixed;
  max-width: 100%;
  height: 100vh;
  background-size: cover;

  .contact-info {
    display: flex;
    // height: 80vh;
    align-items: center;
    justify-content: space-around;
    // background-color: rgb(206, 203, 203);
    // opacity: .5
  }
}