.logo {
  padding: 80px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.company-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.svg-logo {
  fill: white;
}

h1,
h2 {
  font-family: 'Philosopher', sans-serif;
}

p {
  font-family: 'Mulish', sans-serif;
}

.landing-page {
  background: url('./assets/livingroom.jpeg') no-repeat center center fixed;
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-size: 70px;
    width: 15ch;
  }

  button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .copy-wrapper {
    padding: 0 80px 80px 80px;
    margin-block: 75px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }
}

.about-us {
  padding: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .desc {
    padding-inline: 50px;
    align-items: center;

    .intro {
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
      font-size: 35px;
    }
  }

  img {
    width: 50%;
  }
}

.amenities {
  background-color: #f5f4f3;

  .amenities-content {
    padding: 10%;
  }

  .amenities-desc {
    display: flex;
    justify-content: space-around;
    flex-basis: 0;

    h1 {
      font-size: 40px;
    }

    p {
      width: 55%;
    }
  }

  .amenities-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    padding-block: 6%;
    gap: 10px;

    .amenities-list {
      font-weight: bold;
      text-align: center;
      flex: 1 1 calc(33.33% - 20px);
      margin-block: 10px;
    }

    .photo {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }

    p {
      margin: 5px;
    }
  }
}

.contact-us {
  background: url('./assets/kitchen.jpeg') no-repeat center center fixed;
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .contact-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;

    a {
      text-decoration: none;
      color: white
    }

    a:hover {
      text-decoration: underline;
    }

    .svg {
      fill: white;
    }
  }
}