.logo {
  padding: 80px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.company-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.svg-logo {
  fill: white;
}
h1,
h2 {
  font-family: 'Philosopher', sans-serif;
  font-size: 50px;
}
p,
h4 {
  font-family: 'Mulish', sans-serif;
  font-size: 23px;
}
img {
  border-radius: 20px;
  width: 100%;
}
button {
  border: none;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
}
.button-white {
  background-color: white;
  color: black;
}
.button-black {
  background-color: black;
  color: white;
}
.black-bg {
  background-color: black;
  color: white;
}
.landing-page {
  background: url('assets/livingroom.jpeg') no-repeat center center fixed;
  max-width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page h1 {
  font-size: 55px;
  width: 15ch;
}
.landing-page .copy-wrapper {
  padding: 0 80px 80px 80px;
  margin-block: 75px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
@media screen and (max-width: 650px) {
  .landing-page h1 {
    font-size: 34px;
    width: unset;
  }
}
.about-us {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6%;
}
.about-us .desc {
  padding-inline: 50px;
  align-items: center;
  flex-grow: 1;
  flex-basis: 60%;
}
.about-us .desc p {
  font-size: 20px;
}
.about-us .desc .intro {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.about-us .photo {
  flex-grow: 1;
  flex-basis: 40%;
}
@media screen and (max-width: 820px) {
  .about-us .desc .intro {
    font-size: 25px;
  }
  .about-us .desc p {
    font-size: 16px;
  }
}
@media screen and (max-width: 650px) {
  .about-us {
    display: block;
  }
  .about-us .desc {
    padding: unset;
    margin-bottom: 75px;
  }
  .about-us .desc p {
    font-size: 23px;
  }
}
.amenities {
  background-color: #f5f4f3;
}
.amenities .amenities-content {
  padding: 10%;
}
.amenities .amenities-desc {
  display: flex;
  justify-content: space-around;
  flex-basis: 0;
}
.amenities .amenities-desc h1 {
  font-size: 40px;
}
.amenities .amenities-desc p {
  font-size: 23px;
  width: 55%;
}
.amenities .amenities-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-transform: capitalize;
  padding-block: 6%;
  gap: 10px;
}
.amenities .amenities-wrapper .amenities-list {
  font-weight: bold;
  text-align: center;
  flex: 1 1 calc(33.33% - 20px);
  margin-block: 10px;
}
.amenities .amenities-wrapper .photo {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.amenities .amenities-wrapper p {
  font-size: 20px;
  margin: 5px;
}
@media screen and (max-width: 820px) {
  .amenities .amenities-desc {
    display: block;
  }
  .amenities .amenities-desc p {
    width: unset;
  }
}
.tours {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.partner {
  background-color: #f5f4f3;
  color: black;
  padding: 10%;
}
.partner h1 {
  margin-block-start: unset;
}
.partner .partner-content {
  margin-bottom: 105px;
}
.partner .partner-content p,
.partner .partner-content h4 {
  font-size: 23px;
}
.partner .partner-content .partner-blurb {
  margin-block: 45px;
}
.partner .partner-content .partner-button {
  text-align: right;
}
.partner img {
  width: 75%;
}
.partner .faq-photo-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.partner .faq-photo-section img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: -2;
  width: 150%;
}
.partner .faq-photo-section .faq-wrapper {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: -1;
  padding: 53px;
  background-color: rgba(225, 222, 220, 0.9);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.partner .faq-photo-section .faq-wrapper .faqs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 100px;
}
.partner .faq-photo-section .faq-wrapper .faqs h4,
.partner .faq-photo-section .faq-wrapper .faqs p {
  font-size: 20px;
}
@media screen and (max-width: 820px) {
  .partner .faq-photo-section {
    display: block;
  }
  .partner .faq-photo-section img {
    width: 100%;
  }
  .partner .faq-photo-section .faq-wrapper {
    margin-top: 105px;
    width: unset;
  }
  .partner .faq-photo-section .faq-wrapper .faqs {
    display: block;
  }
}
.contact-us {
  background: url('assets/kitchen.jpeg') no-repeat center center fixed;
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact-us .contact-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.contact-us .contact-info a {
  text-decoration: none;
  color: white;
}
.contact-us .contact-info a:hover {
  text-decoration: underline;
}
.contact-us .contact-info .svg {
  fill: white;
}
@media screen and (max-width: 820px) {
  .contact-us {
    text-align: center;
  }
  .contact-us .logo {
    display: block;
    padding-bottom: unset;
  }
  .contact-us .contact-info {
    display: block;
  }
}
